/* Toggle Switch Styles */.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #00ff00;  
  }
  
  input:checked + .slider:before {
    transform: translateX(14px); 
  }
  
  input:not(:checked) + .slider {
    background-color: #ff4c4c;
  }


.toggle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px; 
}

.toggle-label {
  font-size: 14px;
  color: #bbbbbb;
  text-transform: uppercase;
  font-weight: bold;
}

  